.main {
  box-sizing: border-box;
  font-family: "Avenir next", " Arial", " sans-serif";
  margin: unset;
  padding: unset;
  background-color: #fbfbfb;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfbfb;
}
